    <div class="submission-form myStats">
            <fieldset>
			<div style="display:none;" id = "objID">{{id}}</div>
                <div class="bubble-fields"><label for="name">Name :</label> <span> {{name}}</span><br>
                    </div>
				<div class="bubble-fields"><label for="phone">Phone # :</label> <span> {{phone}}</span><br>
                    </div>
				<div class="bubble-fields"><label for="email">Email :</label> <span> {{email}}</span><br>
                    </div>
				<div class="bubble-fields"><label for="people">No of People :</label> <span> {{noofpeople}}</span><br>
                    </div>
				<div class="bubble-fields"><label for="type">{{type}} :</label> <span> {{service}}</span><br>
                    </div>
				<div class="bubble-fields"><label for="notes">Notes :</label> <span> {{notes}}</span><br>
                    </div>
            </fieldset>
    </div>
